# Default values for bookstack-helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

meshwiki_app_namespace: "wiki"
timezone: "America/New_York"

bookstack:
  app_views_books: list
  allowed_iframe_sources: "https://*.draw.io https://*.youtube.com https://*.youtube-nocookie.com https://*.vimeo.com https://*.google.com"
  port: 80
  uid: 1000
  gid: 1000
  db:
    database_name: bookstackapp
    pvc_name: wikidb
    pvc_size: 5Gi
    port: 3306
    resources:
      requests:
        cpu: 256m
        memory: 384Mi
    enableReadinessProbe: true
    readinessProbeInitialDelaySeconds: 5
    enableLivenessProbe: true
    livenessProbeInitialDelaySeconds: 5
    livenessProbePeriodSeconds: 10
  mail:
    host: smtp.gmail.com
    port: 587
    from: "noreply+wiki@nycmesh.net"
    from_name: "NYC Mesh Wiki"
  config_pvc_name: wikiconfig
  config_pvc_size: 5Gi
  image_pvc_name: wikiimages
  image_pvc_size: 5Gi
  backup:
    cron_schedule: "33 3 * * *"
  resources:
    requests:
      cpu: 512m
      memory: 512Mi
  enableReadinessProbe: false
  readinessProbeInitialDelaySeconds: 20
  enableLivenessProbe: true
  livenessProbeInitialDelaySeconds: 20
  livenessProbePeriodSeconds: 15
  service:
    port: 8080

image:
  repository: lscr.io/linuxserver/bookstack
  pullPolicy: IfNotPresent
  tag: "v25.12-ls237"

db_image:
  repository: lscr.io/linuxserver/mariadb
  pullPolicy: IfNotPresent
  tag: "latest"

nameOverride: ""
fullnameOverride: ""

# serviceAccount:
#   # Specifies whether a service account should be created
#   create: true
#   # Automatically mount a ServiceAccount's API credentials?
#   automount: true
#   # Annotations to add to the service account
#   annotations: {}
#   # The name of the service account to use.
#   # If not set and create is true, a name is generated using the fullname template
#   name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# autoscaling:
#   enabled: false
#   minReplicas: 1
#   maxReplicas: 100
#   targetCPUUtilizationPercentage: 80
#   # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}
