name: checkov

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
    branches:
      - main
  

permissions: read-all

jobs:
  checkov:
    permissions:
      actions: read
      contents: read
      security-events: write
      statuses: none
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # @v4

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@9607a27d5a5dc7cbdac83c426af4cda3a085454d
        with:
          skip_check: CKV_DOCKER_2,CKV_DOCKER_3,CKV_SECRET_6
          quiet: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          download_external_modules: true

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v3
        if: success() || failure()
        with:
          sarif_file: results.sarif
